.table {
    display: grid;
    grid-auto-columns: minmax(100px, auto);
}

.gone {
    grid-column: 1;
    grid-row: 1;
}


.tableRow {
    grid-row: 2;
    grid-column: unset;
}

.jobs.prim {
    grid-row: 2;
}

.machines.prim {
    grid-row: 1;
}
.sequence.prim {
    grid-row: 2;
}
.sequence {
    margin-left: 1rem;
}

.tableElement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 4rem;
    border: rgba(68, 68, 68, 0.41) solid 1px;
}
.tableElement h4, .tableElement p {
    margin: 0;
}

.job {
    font-weight: bold;
    background: #8295cc;
    grid-row: 2;
}

.machine {
    font-weight: bold;
    background: #82a7cc;
    grid-column: 1;
}

.prim {
    background: #1a4170;
    color: #FFF;
}
.centerline {
    background: #CCC;
}
